include AUTHORS
include CHANGELOG
include INSTALL
include LICENSE
include README.rst

include docs/Makefile
recursive-include docs *.rst
recursive-include docs *.py

recursive-include bin *

recursive-include torrentool/repo *

recursive-include tests *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * empty
